<h2>Edit Business</h2>
<hr>





<form action="<%= business_url(@business.id) %>" method="post">
  <input type="hidden" name="_method" value="put">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <br>
  <%= render "dev/attributes", obj: @business, is_form: true %>


  <input type="submit" name="submit" value="Save Changes" id="Save Changes">
</form>