<section class="main-content">

<%= render "layouts/errors" %>

<%= "#{current_user.first_name} #{current_user.last_name}'s Account Settings" %>
<hr>

<a href="<%= edit_profile_url %>">Profile</a>

<a href="#">Password</a>

<a href="#">Email/Notifications</a>

<a href="#">Locations</a>

<a href="#">Friends</a>

<a href="#">Exrenal Applications</a>

<a href="#">Privacy Settings</a>

</section>