<div class="passport group">
  <div class="side-left left">
    <a href="<%= profile_url %>"><img class="avatar" src="<%= user.avatar(:icon_m) %>"></a>
  </div>

  <ul class="side-right">
    <li><em>Photo added by</em></li>
    <li><a href="<%= user_url(user.id) %>"><%= user.name %></a></li>
  </ul>
</div>