<form action="" method="post">
  <input type="hidden" name="_method" value="put">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label for=""></label>
  <input type="text" name="" value="" id="">


  <input type="submit" name="Save Changes" value="submit" id="Save Changes">
</form>