
<h2>Sign up for YelpClone</h2>
<form action="<%= users_url %>" method="post" accept-charset="utf-8">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_first_name">First Name</label>
  <input type="text" name="user[first_name]" value="" id="user_first_name">

  <label for="user_last_name">Last Name</label>
  <input type="text" name="user[last_name]" value="" id="user_last_name">

  <label for="user_email">Email</label>
  <input type="text" name="user[email]" value="" id="user_email">

  <label for="user_password">Password</label>
  <input type="text" name="user[password]" value="" id="user_password">

  <p><input type="submit" value="Sign Up"></p>
</form>