
<form class="sign-in" action="<%= users_url %>" method="post" accept-charset="utf-8">
<h3 class="red-title">Sign up for YelpClone</h3>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="form-text-input">
    <label class="med-title" for="user_first_name">First Name</label>
    <input size="40" type="text" name="user[first_name]" value="" id="user_first_name">
  </div>
  <div class="form-text-input">
    <label class="med-title" for="user_last_name">Last Name</label>
    <input size="40" type="text" name="user[last_name]" value="" id="user_last_name">
  </div>
  <div class="form-text-input">
    <label class="med-title" for="user_email">Email</label>
    <input size="40" type="text" name="user[email]" value="" id="user_email">
  </div>
  <div class="form-text-input">
    <label class="med-title" for="user_password">Password</label>
    <input size="40" type="text" name="user[password]" value="" id="user_password">
  </div>

  <div><button class="red-btn" type="submit">Sign Up</button></div>
</form>