<div class="rating-container group left">
  <ul class="stars-select-boxes">
    <% 5.times do |star| %>
      <li><a href="#" class="anc"></a></li>
    <% end %>
  </ul>
  <img class="star-rating">
</div>