<nav class="search-filters-container">
  <section class="filter-header group">
    <div class="group">
      <h3 class="left">SEARCH TITLE</h3>
      <em class="right">Showing ...</em>
    </div>
    <div class="group">
      <h4 class="left">Browse Category:</h4><a href="#">PLACE HOLDER</a>
    </div>

    <select class="">
      <option value=1>Hide Filters</option>
    </select>
  </section>

  <section class="filter-sort left">
    <h3 class="filter-title">Sort By</h3>

    <a class="filter-more"></a>
  </section>

  <section class="filter-neighborhoods left">
    <h3 class="filter-title">Neighborhoods</h3>

    <a class="filter-more"></a>
  </section>

  <section class="filter-distance left">
    <h3 class="filter-title">Distance</h3>

    <a class="filter-more"></a>
  </section>

  <section class="filter-price left">
    <h3 class="filter-title">Price</h3>

    <a class="filter-more"></a>
  </section>

  <section class="filter-features left">
    <h3 class="filter-title">Features</h3>

    <a class="filter-more"></a>
  </section>

  <section class="filter-category left">
    <h3 class="filter-title">Category</h3>

    <a class="filter-more"></a>
  </section>

</nav>