
<div class="image-w-third-biz">
  <!-- <div class="like-btn">
    <a href="#">Like</a>
  </div> -->
  <a href="<%= icon_url %>">
    <img width="180" src="<%= photo %>">
  </a>
  <div class="lower-third">
    <ul>
      <li><strong><%= business.name %></strong></li>
      <li>reviews</li>
      <li><%= business.neighborhood.name %></li>
    </ul>
  </div>
</div>