<div class="">


  <a href="#"><img src="/assets/photo_small_square.jpg"></a>

  <fieldset>
    <input type="radio" name="photo[helpful]" value="1" id="photo_helpful">Very Helpful
    <input type="radio" name="photo[helpful]" value="2" id="photo_helpful">Helpful
    <input type="radio" name="photo[helpful]" value="3" id="photo_helpful">Not Helpful

    <checkbox name="storefront">
    <input type="checkbox" name="photo[storefront]" value="true" id="photo_storefront">
    <label for="this_business_recently_opened_or_is_opening_soon">Suggest as storefront photo</label>

  </fieldset>

</div>