

<div class="quick-review-container">
  <% if title %>
    <a href="#"><%= title %></a>
  <% end %>

  <div class="rating-box">
    <ul>
      <li><div class="rating-star"></li>
      <li><div class="rating-star"></li>
      <li><div class="rating-star"></li>
      <li><div class="rating-star"></li>
      <li><div class="rating-star"></li>
    </ul>
  </div>

  <label for="review[body]">Start your review</label>
  <textarea name="review[body]" id="review_body"><%= body %></textarea>
</div>

