

<div class="quick-review-container">
  <% if title %>
    <a href="#"><%= title %></a>
  <% end %>

  <%= render "widgets/rating", s_rating: business.rating_string %>

  <div class="form-text-input">
    <label class="med-title" for="review_rating">Rating</label>
    <input type="text" name="review[rating]" value="" id="review_rating">
  </div>
  <div class="textarea-input">
    <label class="med-title" for="review[body]">Start your review</label>
    <textarea rows="4" cols="80" name="review[body]" id="review_body"><%= body %></textarea>
  </div>
</div>

