/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, header, ul, li, nav, h1, h2, h3, h4, h5, a, p, button, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  letter-spacing: 0;
}

ul li {
  list-style-type: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  display: block;
  background: #eee;
  font-size: 12px;
  font-family: sans-serif;
  color: #333;
/*  padding: 20px;*/
}

.main-content {
  z-index: 5;
  margin: auto;
  width: 960px;
  background: #fff;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 20px 30px 100px 30px;
}

.main-shelf {
  width: 960px;
  margin: auto;
}

.top-shelf-back {
  background-color: #eee;
  border-bottom: 1px solid darkgray;
  margin-bottom: 70px;
}

.shelf-main-content {
  background: #fff;
  padding-bottom: 60px;
}

a {
  color: #03c;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 600px;
  display: block;
/*  border-radius: 2px;*/
}

.left {
  float: left;
}

.right {
  float: right;
}

h3.title-link {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}

h3.red-title {
  color: #c00;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  padding: 2px;
  padding-left: 0;
}

h1.red-title {
  color: #c00;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  padding: 2px;
  padding-left: 0;
}

.med-link {
  font-size: .8em;
  padding: 2px;
}

.med-bold {
  font-weight: bold;
  font-size: 14px;
}

.med-title {
  font-weight: bold;
  display: block;

}

.section-container {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.section-container:last-child {
  border-bottom: 0;
}

.large-title {
  font-size: 30px;
  font-weight: bold;
  display: block;

}

.radio-set {
  padding:10px;


}

.checkbox-set {
  padding:10px;
}

.cancel-btn {
  float: left;
  padding: 10px 40px;
}

/*button.btn-link {
  background: transparent;
  color: #00f;
  font-size: 12px;
  cursor: hand;
  display: block;
}*/

button.btn-link {
  background: transparent;
  color: #00f;
  font-size: 10px;
  cursor: pointer;
  display: inline;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

.white-title {
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 1px black;
  letter-spacing: 0;
}

.tiny-font {
  font-size: 8px;
  color: white;
  letter-spacing: 1;
}

/*button {
  font-size: 14px;
  background-color: lightgrey;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 110px;
}*/

.med-font {
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.inactive-link {
  color: orange;
}

img.avatar-90 {
  width: 90px;
  height: 90px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}

img.avatar-30 {
  width: 30px;
  height: auto;
  overflow: hidden;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
}

img.avatar-40 {
  width: 40px;
  height: auto;
  overflow: hidden;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
}

.avatar-60 {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
}

.red-btn {
  font-size: 16px;
  font-weight: bold;
  background: #c00;
  border-radius: 4px;
  color: #fff;
  text-shadow: 0 -2px #333;
  border: 1px solid #800;
  width: 150px;
  height: 40px;
}

button.small-red {
  font-size: 12px;
  font-weight: bold;
  background: #c00;
  border-radius: 4px;
  color: #fff;
  text-shadow: 0 -1px #333;
  border: 1px solid #800;
  width: 50px;
  height: 28px;
  box-shadow: 0 1px 2px #ccc;
}

a.small-red {
  text-align: center;
  line-height: 10px;
  padding: 6px 14px;
  font-size: 12px;
  font-weight: bold;
  background: #c00;
  border-radius: 4px;
  color: #fff;
  text-shadow: 0 -1px #333;
  border: 1px solid #800;
  box-shadow: 0 1px 2px #ccc;
  margin: 5px 0;
}

.gray-btn {
  font-size: 10px;
  font-weight: bold;
  background: #ddd;
  border-radius: 4px;
  color: #333;
  border: 1px solid #ccc;
  width: 80px;
  height: 30px;
}

input {
  background: #eee;
  border: 1px solid #ccc;
}

textarea {
  font-size: 12px;
  padding: 8px;
  background: #ffe;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-text-input {
  margin: 20px 0;

/*  input {
    width: 250px;
    display: block;
    margin: 5px 0;
  }

  textarea {
    width: 250px;
    display: block;
    margin: 5px 0;
  }*/
}

.star-container {
 padding: 10px;
}

img.star-rating {
  width: 164px;
  height: 30px;
  background:url("/assets/real/stars_large_map.png") 0 0;
}

img.star-rating-15 {
  width: 82px;
  height: 15px;
  background:url("/assets/real/stars_large_map.png") 0 0;
}



.pointer {
  cursor: hand;
}
/*img.star-rating {
  width: 164px;
  height: 30px;
  background:url("/assets/real/stars_large_map.png") 0 30px;
}*/

.rating-container {
  padding-bottom: 3px;
  border-radius:0;
}

.stars-select-boxes {
}

/*.stars-select-boxes li {
  margin-left: 3px;
  content: "";
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  background: green;
  opacity: .6;
}

.anc:hover + img.star-rating {

  width: 164px;
  height: 30px;
  background:url("/assets/real/stars_large_map.png") 0 30px;
}*/