// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-shelf {
  position: relative;
  padding-top: 20px;
  width: 960px;
  margin: auto;

  .business-info {
    width: 300px;
    height: 120px;
    float: left;
    padding: 0px 10px 10px 0;
    font-size: 14px;

    h1.page-title a {
      font-size: 30px;
      color: #333;
    }
    .med-link a {
      font-size: 14px;
      margin-left: 10px;
    }
    .rating-container {
      em {
        margin-left: 10px;
        line-height: 20px;
      }
    }
    .price-range-container {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .business-page-header {

    .business-header {
      width: 500px;
    }
  }

  .business-interact {
    float: right;
    width: 400px;
    margin-top: 20px;
  }

  .review-button {
    background-color: red;
    color: white;
  }

  .mosaic {
  }

  .m li:first-child {
    margin-left: 300px;
  }

  .m li{
    float: left;
//    margin-left: 4px;
//    border: 1px solid #ccc;
  }

  .more-photos {
    position: absolute;
    bottom: -20px;
    right: 0px;
  }

  .edit-biz {
  }

  .biz-map {
    width: 289px;
    height: 274px;
    z-index: 100;
    position: absolute;
    bottom: -30px;
    background-color: white;
    padding: 5px 5px 0 5px;
//    box-shadow: 1px 1px 10px #888;

    img {
      border: 1px solid #bbb;
      padding:0;
      margin: 0;
    }
  }

  .address-back {
    width: 286px;
    height: 130px;
    background-color: #ddd;
    border: 1px solid #bbb;
//    padding: 5px;
    margin: 0;
  }

  .title {
    margin: 2px;
    font-weight: bold;
  }
}

.business-sidebar {
  font-size: 14px;

  .now-info-container {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:4px 0;

    table {
      tr {

      }

      td {
        padding: 5px;
      }


    }
  }

  .hours-container {

  }

  .red {
    color: #b00;
    font-size: 12px;
  }

  .green {
    color: #0b0;
    font-size: 12px;
  }

  section.biz-info {
    padding: 20px;


    table {
      text-align: left;
      td:first-child {
        width: 46px;
      }
    }

  }

  .general-info {
    li {
      padding: 5px 0;
    }
  }

}


.business-review-container {
  padding: 15px 15px 15px 0;
  margin-bottom: 10px;
  font-size: 12px;
  border-bottom: 1px solid lightgray;
//  min-height: 260px;
  position: relative;

  h1 {
    font-size: 16px;
  }

  .review-user-side {
    float: left;
    width: 220px;
    padding-right: 15px;

    .user-interact-container {

    }
  }

  .business-review-side {
    padding-left: 15px;
    width: 360px;
    font-size: 14px;
    // em {
    //   line-height: 30px;
    //   padding-left: 5px;
    // }

    .rating-header {
      line-height: 20px;
      span {
        margin-left: 10px;
      }
    }

    .business-review-body {
      padding: 15px 0;
      line-height: 18px;
    }

    .business-photos-container {

    }
  }

//  .review-upvote-container {
//    position: absolute;
//    bottom: 0;
//    margin-bottom: 10px;
//  }

}

.content-left {
  width: 630px;
  float: left;
//  border: 1px solid orange;

  .reviews-list {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
}


.right-sidebar {
  float: right;
  width: 300px;
}

.best-yelp-category {
//  border: 1px solid green;
  clear: left;


  h3 {
    display: block;
  }
}

  .photos-container {
//     width: 1000px;

     li {
       float: left;
       margin-right: 10px;
     }

     li:last {
       margin-right: 0;
     }
  }

.business-result {
  width: 620px;
  padding: 10px;
  border-bottom: 1px solid #eee;

  .business-info {
    margin-left: 5px;
    width: 700px;

    .rating-container {
      em {
        line-height: 20px;
      }
    }

  }

  .avatar-30 {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 4px;
    img {

    }
  }

  .business-info-container {
    position: relative;
    img.avatar-90 {
      float: left;
    }

    .business-stats {
      float: left;
      width: 300px;
    }

    .business-address {

      address {
        position: absolute;
        left: 415px;
        font-size: 12px;
        float: right;
        padding-top: 5px;

        p {
          text-align: left;
          line-height: 14px;
        }
      }
    }

    .biz-neighborhood {
      padding-bottom: 7px;
    }
  }

  .review-container {
    margin-top: 8px;
    padding: 10px 0;
  }

  .review-container div {
    float: left;
  }

  .category-container > span {
  }
//    padding-left: 5px;

  .highlight-body {
    padding-left: 10px;
    font-size: 14px;
    line-height: 18px;
    display: inline;
    width: 550px;
  }

}

.selected {
  background: lightyellow;
}

.business-info {
  margin-left: 5px;
  width: 700px;

  .page-title {
    font-weight: bold;
    display: block;
    font-size: 16px;
    padding-bottom: 5px;
  }

}

.business-stats {
  .business-header {
  }

  .business-header h2 {
    display: block;
    font-size: 16px;
    padding: 5px;
    padding-left: 0;
  }

  .rating-container {
    em {
      line-height: 30px;
      padding-left: 10px;
      color: #333;
    }
  }
}

// .business-review-body {
//   display: block;
//   width: 320px;
//   font-size: 16px;
//   padding: 30px 0 20px 0;
//   margin-bottom: 100px;
// }

.business-categories {
  padding: 10px 0;
  margin-bottom: 20px;
}

.category-container {

}

.new-biz {
  form {
    float: left;
  }


  .sidebar-right {
    float: right;
  }
}

