// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-shelf {
  position: relative;
  background-color: #ddd;
  height: 400px;
  padding: 10px;
  border-bottom: 1px solid darkgray;
  margin-bottom: 50px;

  .business-info {
    width: 300px;
    height: 120px;
    float: left;
    padding: 0px 10px 10px 0;
  }

  .business-interact {
    float: right;
  }

  .review-button {
    background-color: red;
    color: white;
  }

  .mosaic {
  }

  .m li{
    float: left;
  }

  .more-photos {
    float: right;
  }
}

.content-left {
  width: 680px;
  float: left;
  border: 1px solid blue;
}


.right-sidebar {
  float: right;
  width: 300px;
  border: 1px solid red;
}

.best-yelp-category {
  width: 600px;

  .photos-container {
     width: 1000px;

     li {
       float: left;
       margin-right: 20px;
     }

     li:last {
       margin-right: 0;
     }
  }
}