// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-main-content {
  width: 960px;
  margin: auto;
  padding: 15px;
}

.category-mosaic {



  div:first-child {
    padding-left: 0;
  }

  .mosaic-1 {
    height: 300px;
    width: 460px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .mosaic-2 {
    height: 300px;
    width: 140px;
    overflow: hidden;
    float: left;
    margin: 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .mosaic-3 {
    height: 140px;
    width: 300px;
    overflow: hidden;
    float: left;
    margin: 0 0 10px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }



  .mosaic-4 {
    height: 140px;
    width: 140px;
    overflow: hidden;
    float: left;
    margin: 8px 9px 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .mosaic-5 {
    height: 140px;
    width: 140px;
    overflow: hidden;
    float: left;
    margin: 8px 0 0 9px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .mosaic-photo {

    div {
      box-shadow: 0 1px 1px #333;
    }

    img {
      float: left;
    }
  }

  .med-title {
    margin-top: 10px;
  }

}

.category-reviews {
  font-size: 12px;
  padding: 5px 15px 0 0;
  margin-bottom: 20px;

  .review-block {
    width: 310px;

    .avatar-60 {
      margin-right: 10px;
    }
    .quick-review-container {

      .review-content {
        width: 220px;

        .rating-header {
          margin: 2px 0;
        }
      }
    }


  }

  .review-block > li {
    padding: 5px 15px 5px 0;

    .review-body {
      color: #aaa;
    }
  }
}

.category-photos {
//  padding: 5px 0 0 15px;
  .photo-block {
    width: 300px;
  }

  li {
//    padding: 4px;
margin: 4px;
  }

  img {
//    border-radius: 0;
  }
}

.category-new-business {

  .biz-storefronts {
    margin-right: 15px;
  }

  .biz-storefronts:last-child {
    margin-right: 0;
  }
}

.category-search-filters {
  font-size: 12px;

  .column {
    width: 150px;
  }

  .side-neighborhoods {
    width: 300px;
    padding: 5px 15px 0 0;
  }

  .side-features {
    width: 300px;
  }
  li {
    padding: 2px 0;
  }
}

.filter-title {
  padding: 20px 0 8px 0;
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}