.compliment-quick {
  text-align: 30px;
  margin-bottom: 8px;
  width: 100%;

  .avatar-30 {
    margin-right: 4px;
  }

  .compliment-name {
 		margin-left: 60px;
    line-height: 20px;
  }

  .compliment-body {
    margin-top: 4px;
    padding-left: 36px;
    line-height: 14px;
  }

  .side-left {

  }

  .side-right {
  }
}

.compliment-normal {
  border-top: 1px solid #ccc;
  padding: 10px 0;

  header {
    margin-bottom: 10px;

    p.compliment-name {
      line-height: 24px;
      padding-left: 6px;
    }
  }

  .side-right {

    p {
      margin-bottom: 10px;
    }

  }
}


.compliment-container-10 {
  width: 18px;
  text-align: center;
  color: #aaa;
  float: left;
  padding: 5px;
}

.compliment-10 {
  width: 16px;
  height: 16px;
}

.thank-you-10 {
  @extend .compliment-10;
  background:url("/assets/real/compliments.png") -3px -3px;
}

.good-writer-10 {
  @extend .compliment-10;
  background:url("/assets/real/compliments.png") -3px -3px;
}

.just-a-note-10 {
  @extend .compliment-10;
  background:url("/assets/real/compliments.png") -3px -3px;
}

.write-more-10 {
  @extend .compliment-10;
  background:url("/assets/real/compliments.png") -3px -3px;
}

.great-photo-10 {
  @extend .compliment-10;
  background:url("/assets/real/compliments.png") -3px -3px;
}

.youre-funny-10 {
  @extend .compliment-10;
  background:url("/assets/real/compliments.png") -3px -3px;
}

.cute-pic-10 {
  @extend .compliment-10;
  background:url("/assets/real/compliments.png") -3px -3px;
}

.hot-stuff-10 {
  @extend .compliment-10;
  background:url("/assets/real/compliments.png") -3px -3px;
}

.like-your-profile-10 {
  @extend .compliment-10;
  background:url("/assets/real/compliments.png") -3px -3px;
}

.youre-cool-10 {
  @extend .compliment-10;
  background:url("/assets/real/compliments.png") -3px -3px;
}

.great-lists-10 {
  @extend .compliment-10;
  background:url("/assets/real/compliments.png") -3px -3px;
}

.compliment-container-20 {
  width: 20px;
  text-align: center;
  color: #aaa;
  float: left;
  padding: 5px;
}



.compliment-20 {
  width: 22px;
  height: 22px;
}

.thank-you-20 {
  @extend .compliment-20;
  background: url("/assets/real/compliments.png") -2px -573px;
}

.good-writer-20 {
  @extend .compliment-20;
  background: url("/assets/real/compliments.png") -2px -711px;
}

.just-a-note-20 {
  @extend .compliment-20;
  background: url("/assets/real/compliments.png") -2px -435px;
}

.write-more-20 {
  @extend .compliment-20;
  background: url("/assets/real/compliments.png") -2px -366px;
}

.great-photo-20 {
  @extend .compliment-20;
  background: url("/assets/real/compliments.png") -2px -504px;
}

.youre-funny-20 {
  @extend .compliment-20;
  background: url("/assets/real/compliments.png") -2px -159px;
}

.cute-pic-20 {
  @extend .compliment-20;
  background:url("/assets/real/compliments.png") -2px -90px;
}

.hot-stuff-20 {
  @extend .compliment-20;
  background: url("/assets/real/compliments.png") -2px -228px;
}

.like-your-profile-20 {
  @extend .compliment-20;
  background: url("/assets/real/compliments.png") -2px -642px;
}

.youre-cool-20 {
  @extend .compliment-20;
  background:url("/assets/real/compliments.png") -3px -22px;
}

.great-lists-20 {
  @extend .compliment-20;
  background: url("/assets/real/compliments.png") -2px -297px;
}



.compliment-container-30 {
  width: 24px;
  text-align: center;
  float: left;
  padding: 5px;

  p {
    color: #aaa;
    font-size: 12px;
    margin-top: 4px;
  }
}

.compliment-30 {
  width: 24px;
  height: 24px;
}

.thank-you-30 {
  @extend .compliment-30;
  background:url("/assets/real/compliments.png") -3px -597px;
}

.good-writer-30 {
  @extend .compliment-30;
  background:url("/assets/real/compliments.png") -3px -735px;
}

.just-a-note-30 {
  @extend .compliment-30;
  background:url("/assets/real/compliments.png") -3px -459px;
}

.write-more-30 {
  @extend .compliment-30;
  background:url("/assets/real/compliments.png") -3px -390px;
}

.great-photo-30 {
  @extend .compliment-30;
  background:url("/assets/real/compliments.png") -3px -528px;
}

.youre-funny-30 {
  @extend .compliment-30;
  background:url("/assets/real/compliments.png") -3px -183px;
}

.cute-pic-30 {
  @extend .compliment-30;
  background:url("/assets/real/compliments.png") -3px -114px;
}

.hot-stuff-30 {
  @extend .compliment-30;
  background:url("/assets/real/compliments.png") -3px -252px;
}

.like-your-profile-30 {
  @extend .compliment-30;
  background:url("/assets/real/compliments.png") -3px -666px;
}

.youre-cool-30 {
  @extend .compliment-30;
  background:url("/assets/real/compliments.png") -3px -45px;
}

.great-lists-30 {
  @extend .compliment-30;
  background:url("/assets/real/compliments.png") -3px -321px;
}