
.form-unit {

  margin: 5px;

  .sub-heading {
    color: gray;
    font-size: 0.6em;
  }

  .title {
    color: black;
    font-size: 0.8em;
    font-weight: bold;
  }

  input {
    width: 200px;
  }
}
