.header-logo {
 float: left;
 margin: 10px;
 padding: 20px;
}



.top-header {
  width: 1000px;
  margin: auto;
  text-align: 80px;
}

.top-nav {
  height: 80px;
  background-color: red;
}

.nav-links {
  border: 1px solid green;
  margin: auto;
  float: left;
  width: 500px;
}

.nav-links li a {
  float: left;
  margin: 4px;
  color: white;
  font-size: .8em;
}

#header-account-box {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  float: right;
}

#header-account-box img {
  display: block;
  margin: auto;
}

#header-account-box button {
  display: block;
  margin: auto;
  color: white;
}

.form-top-search {
  float: left;
  padding: 15px;
}