// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-show-container {



}

.content-photo {
  float:left;
}

.sidebar-photo-info {
  width: 350px;
  float: right;
  border: 2px solid red;
}

.image-w-third {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
//  box-shadow: 2px 1px 3px #222;
//  .white-title {
//    font-size: 0.7em;
//  }
//
//  .like-btn a {
//    font-size: 12px;
//    padding: 5px;
//    position: absolute;
//    color: white;
//  }



}


.image-w-third {
  position: relative;
  width: 220px;
  height: 220px;
  overflow: hidden;

  img {
    display: block;
  }


}



.lower-third {
  display: block;
  position: absolute;
  bottom: -50px;
  content: "";
  height: 100px;
  width: 300px;
  background: rgba(0,0,0,.8);
  transition: bottom 1s;
  padding: 6px;
    overflow: normal;
  .img_with_3rd:hover .lower_3rd{
    bottom: 0;
  }

//  line-height: 14px;
//
//  .main-image {
//
//
//  }
//
  .icon-photo {
    width: 25px;
    float: left;
    display: block;
    padding-right: 6px;
  }
//
  .white-title {
    left: 10px;
    width: 180px;
  }
//
//  .tiny-font {
//  }
}