// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.medium-review-container {
  font-size: 10px;
  border-top: 1px solid lightgray;
  position: relative;

  .biz-info-header {
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .biz-info-side {
    width: 320px;
    float: left;
    display: block;
  }

  .biz-address-side {
    float: right;
    display: block;
  }

  .biz-title {
    font-size: 12px;
    padding-bottom: 6px;
    font-weight: bold;
  }


  .review-user-side {
    float: left;
    width: 250px;
  }

  .rating-container {
    margin-bottom: 10px;
  }

  .rating-header {

    p {
      float: left;
      display: block;
      line-height: 16px;
      margin-left: 6px;
    }

    .review-extras {
      margin-left: 10px;
      line-height: 16px;
      display: inline;
      float: left;
    }
  }

  .user-data {
    .img-avatar: block;
  }

  .business-review-body {
    font-size: 12px;
    line-height: 18px;
  }

  .review-interest {
    bottom: 0;
    margin-top: 20px 0;
  }

  .review-interest li {
    float: left;
    padding-right: 16px;
  }
}

.medium-review-container:first-child {
  border-top: 0;
}

.quick-review-container {
  border: 1px solid #ffff00;
  background: #ffffcc;
  margin-bottom: 20px;
  padding: 10px;

  width: 560px;

  .review-content {
  }

  .textarea-input {
    width: 350px;
  }

}



.voted {
  color: green;
}

.user-interact-container {
  ul {
    padding-top: 20px;
    width: 200px;

    button {
      padding: 0;
      margin: 0;
    }

    li {
      float: left;
      display: block;
      margin-left: 60px;
      padding-bottom: 10px;

      button {
        padding: 0;
        margin:0;
        text-align: left;
      }
    }
  }
}

.review-set {
  .review-area {
    margin-right: 40px;
  }

  .photo-area {
    margin-top: 20px;
  }
  .caption-area {
    margin-top: 34px;
  }
}

