// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#googleMap {
  width: 300px;
  height: 300px;
}

.search-filters-container {
  border-bottom: 1px solid lightgrey;
  padding: 5px;
  padding-left: 0;
  margin-bottom: 10px;
  font-size: 12px;

  .column {
    width: 143px;
    margin: 2px 16px;
    margin-left: 0;
    padding-left: 0;

    li {
      padding: 2px 0;
    }
  }

  .btn-link {
    margin: 5px 0 0 20px;
  }

  input[type=radio] {
//    display: none;
  }

  .red-btn {
    margin-top: 10px;
    float: right;
  }
}

.result-header {
//  margin-bottom: 10px;
}
.search-string {

  h2 {
    font-size: 24px;
    float: left;
    font-weight: bold;
  }

  strong {
    font-weight: bold;
  }

  em {
    float: right;
    display: block;
    padding: 10px 0;
  }
}

.category-browse {
  font-size: 16px;

  h2 {
    font-weight: bold;
    float: left;
    margin-right: 10px;
  }

  li {
    float: left;
  }

  li a {
    padding: 5px;
  }
}

.filter-header {
  border-bottom: 1px solid #ccc;
}
.filter-hide {
  padding: 10px 0;
}

.breadcrumb-container {
}

.filter-container {
  width: 152px;
  padding-right: 10px;
  border: 2px solid red;
}

.pagination-container {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding: 20px 0;
  margin: 10px;

}

.related-content-container {
}

.related-content {
  width: 320px;
  border: 1px solid red;
}



.finer-filter-container {
  padding-top: 10px;



}

.main-side {
  width: 620px;
}

.business-results {
  min-height: 300px;
}

.sidebar-map {
  display: block;
  width: 300px;
  padding-left: 20px;
}

.sidebar-map #googleMap {
//  position: fixed;
  top: 50%;
  border: 2px solid #ccc;
}

.new-business-container {
  width: 280px;
  margin: auto;
//  margin-top: 40px;
  padding: 20px 10px;
//  border: 1px solid #ccc;
//  border-radius: 8px;
  background: #fff;





  .new-btn-container {
    margin-top: 10px;
  }
}