// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.search-filters-container {
  border-bottom: 1px solid lightgrey;
  padding: 5px;
  padding-left: 0;
  margin-bottom: 10px;
  font-size: .7em;

  .column {
    width: 152px;
    padding: 4px;
    margin: 4px;
    margin-left: 0;
    padding-left: 0;

    li {
      padding: 3px;
      padding-left: 0;
    }
  }

}

.filter-container {
  width: 152px;
  padding-right: 10px;
  border: 2px solid red;
}

.pagination-container {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
}

.related-content-container {
}

.related-content {
  width: 340px;
  border: 1px solid red;
}

.new-business-container {
  width: 270px;
  padding:10px;
  background-color: pink;
}

.finer-filter-container {
  border-bottom: 1px solid lightgrey;




}

.main-side {
  width: 620px;
}

.sidebar-map {
  display: block;
  width: 300px;
  padding-left: 20px;
}

.sidebar-map #googleMap {
  position: fixed;
  top: 50%;
  border: 5px solid blue;
}