// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  width: 135px;
  font-size: 10px;

  .side-left {
//    width: 40px;
//    height: 40px;
//    overflow: hidden;
//    border-radius: 2px;

    .img-avatar {
//      width: 40px;
//      display: inline;
    }
  }

  .side-stats {
    display: block;
    width: 60px;

    img {
      margin: 0 4px;
    }
  }

  .side-right {
    font-size: 10px;
    font-weight: none;
  }
}

.passport {
  font-size: 12px;

  li em {
    color: #ccc;
  }

  img {
    margin-right: 5px;
  }

  img.avatar {
    height: 50px;
    width: auto;
  }

  li {
    margin-bottom: 5px;
  }
}



.user-profile-nav {

  ul {

  }

  li div{
    float: left;
    margin-right: 2px;
    background: #ff944d;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px;

    a {
      color: #fff;
      font-size: 10px;
    }
  }
}

.user-profile-title {
  background-color: lightyellow;
  border: 1px solid lightgrey;
  padding: 6px 12px;
  height: 20px;
  line-height: 20px;
  margin: 0 0 20px 0;


  a {
    float: right;
  }
}

.profile-sidebar {
  float: left;
  width: 215px;
  padding-right: 15px;
  padding-left: 0;

  .user-avatar {
    height: 120px;
    width: 120px;
    overflow: hidden;
    border: 1px solid lightgrey;
    border-radius: 6px;
    margin-bottom: 10px;
  }

  .thumb-photos div {
    width: 20px;
    height: 20px;
    float: left;
    padding: 0 0 6px 8px;
    border-radius: 4px;
  }

  .thumb-photos div a {
    display: block;
  }

  .thumb-photos img {
    border-radius: 2px;
  }

  h3 {
    margin-top: 16px;
    margin-bottom: 2px;
  }

  .user-headline {
    padding: 10px;
    padding-left: 0;
  }

  .user-achievements {
    font-size: 10px;

    img {
      width: 10px;
      height: 10px;
      display: block;
      float: left;
      margin-right: 5px;
    }

    span {
      line-height: 12px;
    }

    li {
      padding: 1px 0;
    }
  }



  .user-bio {
    font-size: 12px;

    .one-bio {
      margin-bottom: 20px;
    }
  }

}


.avatar-med {
  height: 60px;
  width: 60px;
  overflow: hidden;
  border: 1px solid lightgrey;
  border-radius: 6px;

  img {
    height: 60px;
  }
}

.user-main-body {

  .img-icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .mid-content {

    padding: 0 15px 0 15px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    width: 465px;
    float: left;
//    border: 1px solid red;
  }

  .sidebar-right {
    float: left;
    width: 210px;
    padding-left: 15px;

//    border: 1px solid blue;
  }


}



.avatar-large {
}

.user-info {
  img {
    display: inline;
  }
  width: 400px;
  .avatar-container {
    float: left;
    width: 30px;
    height: 30px;
    overflow: hidden;
  }

  .side-right {
    float: left;
    padding-left: 20px;
    width: 100px;
  }
}

.home-page {

  .sidebar-right {
    width: 300px;
    padding-left: 15px;

    .user-stats {
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 14px;

      .general-info {
        padding: 10px;
        font-weight: bold;
        background: #eee;
        border-bottom: 1px solid #ccc;

        .avatar {
          width: 60px;
          height: 60px;
          overflow: hidden;
          margin-right: 5px;
        }

        ul {
          padding: 0 5px;

          li {
            padding: 2px 0;
          }
        }

        .icons {
          width: 60px;
        }

        .names {
        }
      }

      .review-stats {
        padding: 10px;

        li {
          width: 135px;
          padding: 5px 0;
          float: left;
          font-size: 12px;
        }
        strong {
          font-size: 14px;
        }
      }
    }
  }
}