.stars-container li {
  float: left;
}

.price-range-container li{
  float: left;
}

.review-highlight {
  margin: 10px;
  margin-left: 0;
  .user-avatar {
    float: left;
    margin: 5px;
  }

  .highlight-body {
    float: left;
    font-size: 1.5em;
    line-height: 60px;
  }
}

.compliment-container-10 {
  width: 10px;
  text-align: center;
  color: #aaa;
  float: left;
  padding: 5px;
}

.compliment-10 {
  width: 10px;
  height: 10px;

  .thank-you {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .good-writer {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .just-a-note {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .write-more {
  }

  .great-photo {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .youre-funny {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .cute-pic {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .hot-stuff {
  }

  .like-your-profile {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .youre-cool {
  }

  .freat-lists {
    background:url("/assets/real/compliments.png") 0 0;
  }
}

.compliment-container-20 {
  width: 20px;
  text-align: center;
  color: #aaa;
  float: left;
  padding: 5px;
}

.compliment-20 {
  width: 20px;
  height: 20px;
  display: block;

  .thank-you {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .good-writer {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .just-a-note {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .write-more {
  }

  .great-photo {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .youre-funny {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .cute-pic {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .hot-stuff {
  }

  .like-your-profile {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .youre-cool {
  }

  .freat-lists {
    background:url("/assets/real/compliments.png") 0 0;
  }
}



.compliment-30 {
  width: 30px;
  height: 30px;
  display: block;
  margin-bottom: 5px;

  .thank-you {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .good-writer {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .just-a-note {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .write-more {
  }

  .great-photo {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .youre-funny {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .cute-pic {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .hot-stuff {
  }

  .like-your-profile {
    background:url("/assets/real/compliments.png") 0 0;
  }

  .youre-cool {
  }

  .freat-lists {
    background:url("/assets/real/compliments.png") 0 0;
  }
}
