.stars-container li {
  float: left;
}

.price-range-container li{
  float: left;
}

.review-highlight {
  margin: 10px;
  margin-left: 0;
  .user-avatar {
    float: left;
    margin: 5px;
  }

  .highlight-body {
    float: left;
    font-size: 1.5em;
    line-height: 60px;
  }
}

.medium-review-container {

  .biz-info-header {

  }

  .review-interest li {
    float: left;
    margin: 4px;
  }
}
