<div class="review-highlight group">
  <div class="avatar-med left"><img src="<%= review.user.avatar %>"></div>

  <blockquote class="left">
    <span class="quote-left">"</span><%= review.snippet %><span class="quote-right">"</span>
  </blockquote>
</div>