
<section class="main-content group">
<h4>Edit Your Review:</h4>

<%= render "reviews/form", {
    business: @review_full.business,
    url: review_url(@review_full.review.id),
    method: "put",
    review: @review_full.review,
    business_features: @review_full.business_features,
    review_features: @review_full.review_features,
    photo: @review_full.photo
  } %>
</section>