
<section class="main-content group">
<h4>Edit Your Review:</h4>

<%= render "reviews/form", {
    business: @business,
    url: review_url(@review.id),
    method: "put",
    review: @review,
    business_features: @business_features,
    review_features: @review_features,
    photo: @photo
  } %>
</section>