
<section class="main-content group">
<h3 class="red-title">Complete Your Review:</h3>

<%= render "layouts/errors" %>
<%= render "reviews/form", {
  business: @business,
  url: reviews_url,
  method: "post",
  review: @review,
  business_features: @business_features,
  photo: @photo
} %>
</section>