
<div>
  <section id="feature-popup" class="popup-form popup-hide">
    <form class="popup-form-container" action="" data-remote="true" method="post">
      <header class="popup-title">
        <h3 class="red-title">More Features</h3>
      </header>

      <fieldset class="choices-container group">
        <% FeatureCategory.all.each do |fc| %>
          <section class="choice-container group">
            <% Feature.where(feature_category_id: fc).each do |c| %>
              <div class="choice left">
                <input  class="left"
                        type="checkbox"
                        name="search[feature_id][]"
                        value="<%= c.id %>"
                        id="category_<%= c.name %>">
                <label for="category_<%= c.name %>"><%= c.name %></label>
              </div>
            <% end %>
          </section>
        <% end %>
      </fieldset>

      <footer class="popup-footer group">
        <button class="red-btn left" onclick="submitFeatureSearch()" type="button">Search</button>
        <div class="right"><a onclick="closePopup()">Cancel</a></div>
      </footer>
    </form>
  </section>
</div>