
<% if flash[:errors] %>
<div class="">
  <ul class="flash-red">
    <% flash[:errors].each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
</div>
<% elsif flash[:success] %>
<ul class="flash-green">
  <% flash[:success].each do |err| %>
    <li><%= err %></li>
  <% end %>
</ul>
<% end %>

