<footer class="footer">
  <nav class="footer-nav group">
    <section class="footer-about">
      <h3 class="red-title">About</h3>
      <ul>
        <li><a class="med-link" href="#">About Yelp</a></li>
        <li><a class="med-link" href="#">Yelp Blog</a></li>
        <li><a class="med-link" href="#">Press</a></li>
        <li><a class="med-link" href="#">Investor Relations</a></li>
        <li><a class="med-link" href="#">Terms of Service</a></li>
        <li><a class="med-link" href="#">Privacy Policy</a></li>
      </ul>
    </section>

    <section class="footer-help">
      <h3 class="red-title">Help</h3>
      <ul>
        <li><a class="med-link" href="#">FAQ</a></li>
        <li><a class="med-link" href="#">Advertise</a></li>
        <li><a class="med-link" href="#">Content Guidelines</a></li>
        <li><a class="med-link" href="#">Contact Yelp</a></li>
        <li><a class="med-link" href="#">Business Support</a></li>
        <li><a class="med-link" href="#">Developers</a></li>
      </ul>
    </section>

    <section class="footer-more">
      <h3 class="red-title">More</h3>
      <ul>
        <li><a class="med-link" href="#">Careers</a></li>
        <li><a class="med-link" href="#">Yelp Mobile</a></li>
        <li><a class="med-link" href="#">The Weekly Yelp</a></li>
        <li><a class="med-link" href="#">Yelp SeatMe</a></li>
        <li><a class="med-link" href="#">RSS</a></li>
        <li><a class="med-link" href="#">Top Searches</a></li>
      </ul>
    </section>

    <section class="footer-language">
      <h3>Languages</h3>

      <h3>Country</h3>
    </section>
  </nav>
</footer>